/*Reseta o layout*/
body{
    margin: 0px;
    padding: 0px;
}

/*estilo do topo da pagina*/
.topo{
    background-color: #04a324;
    padding: 5px;
}
/*estilo do titulo da pagina*/
.topo h1{
    text-align: center;
    color: white;
    text-shadow: 7px 3px 4px #08642c;
}
/*estilo do paragrafo*/
.paragrafo p {
text-align: center;
}

.uea {
    font-weight: bold;
}
/*estilo da area de navegação pelos links*/
.navegacao{
    margin-left: 50px;
}

.navegacao li{
    padding: 5px;
    color: #046c24;
}

.navegacao ul li a {
    color: #08642c;
    text-decoration: none;
    font-weight: 600;
}

.navegacao ul li a:hover{
    text-decoration: underline;
    color: #048c24;
}


/*estilo do rodapé do site*/
.rodape{
    background-color: #04642c;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}