/*Reseta o layout*/
body{
    margin: 0px;
    padding: 0px;
}
/*estilo do topo da pagina*/

/*estilo do paragrafo*/
.paragrafo p {
text-align: center;
}

.uea {
    font-weight: bold;
}
/*estilo da area de navegação pelos links*/
.navegacao{
    margin-left: 50px;
}

.navegacao li{
    padding: 5px;
    color: #046c24;
}

.navegacao ul li a {
    color: #08642c;
    text-decoration: none;
    font-weight: 600;
}

.navegacao ul li a:hover{
    text-decoration: underline;
    color: #048c24;
}

